
*.ac

*.am

*.ch*

.svn/entries

.svn/format

*.svn-base

.svn/wc.db

synctex-*

tests/*

synctex.c

synctex.defines

synctex.test

synctex.pc.in

synctex.h

DerivedData/*

*xcodeproj*

build
meson/build

documentation
!document/DoxyFile
!document/Readme.md

.vscode

synctex test files/1/big/1.synctex
synctex test files/1/big/1.pdf

synctex standalone/test_*/**/*-blx.bib
synctex standalone/test_*/**/*.1"
synctex standalone/test_*/**/*.acn
synctex standalone/test_*/**/*.acr
synctex standalone/test_*/**/*.alg
synctex standalone/test_*/**/*.aux
synctex standalone/test_*/**/*.bbl
synctex standalone/test_*/**/*.blg
synctex standalone/test_*/**/*.end
synctex standalone/test_*/**/*.fdb_latexmk
synctex standalone/test_*/**/*.glg
synctex standalone/test_*/**/*.glo
synctex standalone/test_*/**/*.gls
synctex standalone/test_*/**/*.idx
synctex standalone/test_*/**/*.ind
synctex standalone/test_*/**/*.ilg
synctex standalone/test_*/**/*.ist
synctex standalone/test_*/**/*.lof
synctex standalone/test_*/**/*.log
synctex standalone/test_*/**/*.lot
synctex standalone/test_*/**/*.out
synctex standalone/test_*/**/*.pdf
synctex standalone/test_*/**/*.run.xml
synctex standalone/test_*/**/*.sind
synctex standalone/test_*/**/*.synctex
synctex standalone/test_*/**/*.synctex.gz
synctex standalone/test_*/**/*.toc

test standalone/**/lua_modules/lib/lua
test standalone/**/lua_modules/lib/luarocks/rocks-5.3/luafilesystem
test standalone/**/lua_modules/lib/luarocks/rocks-5.3/penlight/**/tests
test standalone/**/lua_modules/**/*.rockspec
test standalone/**/lua_modules/**/rock_manifest
test standalone/cfg/**/user/*.lua

__pycache__/
meson/__pycache__/
meson/utils/__pycache__/
meson/utils/__pycache__/uuid.cpython-310.pyc
