<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CLITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Viewer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>synctex.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>synctexLib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>synctexModuleMap.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2226C58F295C3475002AB7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2226C59F295C3475002AB7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2226C5AA295C3476002AB7F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22800DBD295C46D2002E00D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229793D42964317F001E57BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229793DD29643A72001E57BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
